body {
  font-family: $font-family-serif;
}

a {
  color: inherit;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  &:hover {
    color: $gray;
  }
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  font-weight: 700;
}

h1 {
  font-family: $font-family-sans-serif;
  line-height: 1.2;
  // text-align: center;
  // text-transform: uppercase;
}

h2 {
  margin-bottom: 0.5rem;
  margin-top: 0;
  a {
    text-decoration: none;
  }
}

time {
  color: $gray;
  font-family: $font-family-sans-serif;
  font-size: 0.7rem;
}

blockquote {
  border-left: 10px solid $gray;
  font-style: italic;
  padding-left: 1em;
  margin: 0;
}

p {
  &.lead {
    font-size: 1.5em;
    font-style: italic;
  }
  &.nomargintop {
    margin-top: 0;
  }
}

// Header

header {
  h1 {
    margin-top: 0.5rem;
    @media only screen and (max-width : 768px) {
      font-size: 1.5rem;
    }
  }
}

// Nav

nav {
  color: $gray;
  font-family: $font-family-sans-serif;
  font-size: 0.8em;
  img {
    max-width: 1.5em;
    border-radius: 10000px;
    margin-right: 0.5em;
  }
  a {
    color: $gray;
    text-decoration: none;

    img {
      -webkit-transition: all 200ms ease-in-out;
      -o-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;
    }

    &:hover {
      color: $black;

      img {
        opacity: 0.8;
      }
    }
  }
  ul#menu {
    display: inline-block;
    padding-left: 0;
    list-style: none;
    margin: 0 0 0 -0.5em;

    li {
      display: inline-block;
      padding-left: 0.5em;
      padding-right: 0.5em;

      a {
        // color: $gray;
        // font-family: $font-family-sans-serif;
        text-decoration: none;
        // text-transform: capitalize;
        // &:hover {
        //   color: $black;
        // }
      }
    }
  }
}

// Article

figure {
  margin: 2rem 0;
  img {
    width: 100%;
  }
  figcaption {
    color: $gray;
    font-family: $font-family-sans-serif;
    font-size: 0.6em;
    margin-top: 0.5em;
    text-align: center;
  }
}