// Colors
$white:   #fffffe;
$black:   #292929;
$gray:    #bdbdbd;
$clouds:  #ecf0f1;

// Screen Sizes
$screen-xs:                  480px;
$screen-sm:                  768px;
$screen-md:                  992px;
$screen-lg:                  1200px;


// Typefaces

$font-family-serif:         "Sentinel A", "Sentinel B", Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-sans-serif:    "Whitney SSm A", "Whitney SSm B", "Roboto", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$headings-font-family:      $font-family-sans-serif;